img {
    height: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

a:hover {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(255, 0, 0);
    border-bottom: 2px solid black;
    margin-left: 0 !important;
    padding: 15px;
}

footer {
    padding: 5px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-top: 2px solid black;
    text-align: center;
}

header a {
    color: white;
    font-size: 20px;
    text-shadow: 1px 2px 1px rgb(255, 0, 0);
    transition: font-size 0.7s;
}

header a:hover{
    color: black;
    font-size: 22px;
}

body, html {
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    padding: 10px 0;
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

main {
    margin-left: 10px;
}

ul, ol {
    margin-left: 20px;
    font-size: 1.1rem;
}

.nav {
    padding-left: 10px;
}

h3 {
    font-size: 1.5rem;
}

.ing {
    padding-left: 25px;
}

ol :nth-child(even) {
    background-color: rgb(207, 207, 207);
}

ol li {
    width: 350px;
}

ul { list-style: none;}

ul li::before{
    content:"\01F8A1";
    padding-right: 4px;
}