* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

body :not(header, #website-grid, footer) {
    margin-left: 5px;
}

html, body{
    width: 100%;
    height: 100%;
}

img {
    height: 200px;
}



h1, h2{
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 2px 1px rgb(255, 0, 0);
}

h3, p{
    text-align: center;
}



h2{
    padding-bottom: 15px;
}

header {
    background-color: rgb(255, 0, 0);
    border-bottom: 2px solid black;
    margin-left: 0 !important;
    padding: 15px;
}

footer{
    padding: 5px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-top: 2px solid black;
    text-align: center;
}


header a{
    transition: font-size 0.7s;
    font-size: 20px;
    color: white;
}

header a:hover{
    color: black ;
    font-size: 22px;
}

a:hover{
    text-decoration: none;
}

#website-grid {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%; 
}

.food-grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
}

.food-grid h3 {
    padding: 7.5px 0;
}

.food-grid a {
    font-size: 20px;
    color: black;
    text-shadow: 1px 2px 1px rgb(255, 0, 0);
    transition: font-size 0.7s;
}

.food-grid a:hover {
    text-align: center;
    color:white;
    font-size: 22px;
}

.food-item {
    border: 1px solid rgb(227, 231, 235);
    border-radius: 7px;
    background-color: rgb(227, 231, 235);
    box-shadow:  0 2px 4px 2px black;
    transition: box-shadow 0.25s;
    transition: margin-top 0.55s;
}

.food-item:hover {
    box-shadow: 0 2px 4px 2px red;
    margin-top: 2.5px;
}